.c-button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin: 2px;

  &--primary {
    background-color: #203f8b;
    color: white;

    &:active {
      background-color: #1068c9;
    }
  }

  &--secondary {
    color: white;
    background-color: #2e313f;
    padding: 8px 16px;

    &:active {
      background-color: #4c4b57;
    }
  }

  &--ternary {
    color: black;
    background-color: white;
    padding: 8px 16px;

    &:active {
      background-color: whitesmoke;
    }
  }

  &--danger {
    color: white;
    background-color: rgb(181, 47, 47);
    padding: 8px 16px;

    &:active {
      background-color: rgb(191, 57, 37);
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
