.modal-container {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 16px;
}

.modal-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
}

@media screen and (min-width: 840px) {
  .modal-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: 700px;
    padding: 32px 16px;
  }
}
